@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('../fonts/merriweather-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-v13-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Pointilised';
    src: url('../fonts/Pointilised-Bold-110.woff2') format('woff2'),
        url('../fonts/Pointilised-Bold-110.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pointilised';
    src: url('../fonts/Pointilised-Light-110.woff2') format('woff2'),
        url('../fonts/Pointilised-Light-110.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pointilised';
    src: url('../fonts/Pointilised-Regular-110.woff2') format('woff2'),
        url('../fonts/Pointilised-Regular-110.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v11-latin-regular.woff') format('woff');
}
body {
  font-family: 'Pointilised', 'Merriweather', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
    font-family: 'Pointilised', 'Lato', sans-serif;
    font-weight: bold;
}
p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
